<div class="container" style="margin-top: 20px;">
  
 
    <div class="card bg-primary text-white text-center" (click)="go(1)">
      <div class="card-body" >Assignment 1</div>
    </div>
    <br><div class="card bg-primary text-white text-center" (click)="go(2)">
      <div class="card-body"> Assignment 2</div>
    </div>
    <br><div class="card bg-primary text-white text-center" (click)="go(3)">
      <div class="card-body">Assignment 3</div>
    </div>
    <br><div class="card bg-primary text-white text-center" (click)="go(4)">
      <div class="card-body">Assignment 4</div>
    </div>
    <br><div class="card bg-primary text-white text-center" (click)="go(5)">
      <div class="card-body">Assignment 5</div>
    </div>
    <br>
   
  </div>
